@import "./palette.less";

// resets
body {
	margin: 0;
	color: @dark;
	background-color: rgb(237, 242, 247);
}

main {
    background-color: rgb(237, 242, 247);
}

h1, h2, h3, h4, h5 {
    font-family: PracticeRegular, serif;

    &.default-font {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}

// confirm
#confirm {
    ul {
        li {
            margin-bottom: 0.5rem;
        }
    }

    .vdp-datepicker {
        margin-top: 2rem;
        input[type=text] {
            border: 2px solid @chRed;
            border-radius: 0.25rem;
            font-family: PracticeRegular, serif;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
        }
    }
}

// transitions

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// overwrites

.v-application span.primary {
    background-color: @chRed !important;
    border-color: @chRed !important;
}