@import "./palette.less";

// resets
body {
	margin: 0;
	color: @dark;
	background-color: rgb(237, 242, 247);
}

main {
    background-color: rgb(237, 242, 247);
}

h1, h2, h3, h4, h5 {
    font-family: PracticeRegular, serif;

    &.default-font {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}



// .button {
//     background-color: @chRed;
//     color: #fff;
//     font-size: 1.25rem;
//     padding: 0.5rem 1rem;
//     text-decoration: none;
//     transition: 0.3s border-radius;
//     margin-top: 0.5rem;
//     display: inline-block;

//     &.button-success {
//         background-color: @success;

//         &:hover {
//             background-color: lighten(@success, 5%);
//             color: #fff;
//         }
//     }
//     &.button-gold {
//         background-color: @chGold;
//         margin-top: 1rem;

//         &:hover {
//             background-color: lighten(@chGold, 5%);
//         }
//     }
//     &.button-silver {
//         background-color: @chSilver;
//         margin-top: 1rem;

//         &:hover {
//             background-color: lighten(@chSilver, 5%);
//         }
//     }
//     &.button-ryedale {
//         margin-top: 1rem;
//     }

//     &:hover {
//         background-color: lighten(@chRed, 5%);
//         cursor: pointer;
//         color: #fff;
//     }
// }

// confirm
#confirm {
    ul {
        li {
            margin-bottom: 0.5rem;
        }
    }

    .vdp-datepicker {
        margin-top: 2rem;
        input[type=text] {
            border: 2px solid @chRed;
            border-radius: 0.25rem;
            font-family: PracticeRegular, serif;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
        }
    }
}

// transitions

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}