@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Fonts ----------------------- */
@font-face {
  font-family: PracticeBlack;
  src: url(/fonts/custom/PracticeBlack.otf) format('opentype');
}
@font-face {
  font-family: PracticeBlack;
  font-style: italic;
  src: url(/fonts/custom/PracticeBlackIta.otf) format('opentype');
}
@font-face {
  font-family: PracticeRegular;
  src: url(/fonts/custom/PracticeRegular.otf) format('opentype');
}
@font-face {
  font-family: PracticeRegularIta;
  src: url(/fonts/custom/PracticeRegular.otf) format('opentype');
}
