// imports
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans');
@chRed: #fc4f59;
@chGold: #a58c5c;
@chSilver: #89898c;
@dark: #34495E;
@success: #28a745;

/* Fonts ----------------------- */

@font-face {
	font-family: PracticeBlack;
	src: url(/fonts/custom/PracticeBlack.otf) format('opentype');
}

@font-face {
	font-family: PracticeBlack;
	font-style: italic;
	src: url(/fonts/custom/PracticeBlackIta.otf) format('opentype');
}

@font-face {
	font-family: PracticeRegular;
	src: url(/fonts/custom/PracticeRegular.otf) format('opentype');
}

@font-face {
	font-family: PracticeRegularIta;
	src: url(/fonts/custom/PracticeRegular.otf) format('opentype');
}